
/* text in the header */
.head{
    width: 100%;
    display: flex;
    margin-top:100px;
    justify-content: center;
    align-content: space-between;
}
.head div{
    margin-left: 200px;
}
.head h1{
    display: flex;
    flex-shrink: 0;
    font-family: 'PT Serif';
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: -0.045em;
    text-align: left;
    width: 278px;    
}
.head h3{

    height: 27px;
    width: 200px;
    font-family: 'Poppins';
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0em;
}
.head p{ 
    width: 439px;
    font-family: 'Poppins';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
}

h3{
    width: 117px;
    font-family: 'Poppins';
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
}

/* the grid with images */
img{
    width: 238px;
    height: auto;
}
.pic-text{
    display: flex;
    flex-flow: row nowrap;

}

h4{
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0em;   
}

h5{
    display: flex;
    font-family: 'PT Serif';
    font-size: 12px;
    font-weight: 400;
    writing-mode: vertical-lr;
    text-orientation: mixed;
    line-height: 16px; 
}

.container{
    width: 80%;
    /* max-width: 1300px; */
    margin: 100px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 1fr 100px 1fr;
    grid-template-areas:
    "p1 . p3"
    ".  p2 ."
    "p4 . p6"
    ".  p5 .";
    align-self: center;
    align-content: center;
    column-gap: 70px;
}
.p1{
    grid-area:p1;
    grid-row-start: 1;
}
.p2{
    grid-area:p2;
    grid-row-start: 2;
}
.p3{
    grid-area:p3;
    grid-row-start: 1;
}
.p4{
    grid-area:p4;
    grid-row-start: 3;
}
.p5{
    grid-area:p5;
    grid-row-start: 4;
}
.p6{
    grid-area:p6;
    grid-row-start: 3;
}

/* footer */
footer{
    color: #BDBDBD;
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom:24px;
    display: flex;
    justify-content:center;
    margin-top:70px;
}
b{
    text-decoration: underline;
    font-size: 14px;
    font-weight: 800s;
    font-style: normal;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
}

/* responsive */
@media screen and (max-width: 700px){

    .head{
        display: flex;
        flex-flow: column;
        padding-left:30px;
        margin-top:20px;
    }
    .head div{
        margin:0;
    }
    .head h3{
        position: inherit;
    }
    .head p{
        position: inherit;
    }
    .head h1{
        position: inherit;
    }
    .container{
        margin-top:100px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 30px 1fr 30px 1fr 30px 1fr;
        grid-template-areas:
        "p1 ."
        ". p2" 
        "p3 ."
        ". p4"
        "p5 ."
        ". p6";
        justify-content:center; 
        column-gap: 30px;
        row-gap:30px;
    }
    .p1{
        grid-area:p1;
        grid-row-start: 1;
    }
    .p2{
        grid-area:p2;
        grid-row-start: 2;
    }
    .p3{
        grid-area:p3;
        grid-row-start: 3;
    }
    .p4{
        grid-area:p4;
        grid-row-start: 4;
    }
    .p5{
        grid-area:p5;
        grid-row-start: 5;
    }
    .p6{
        grid-area:p6;
        grid-row-start: 6;
    }
    
    img{
        width: 178px;
        height: auto;
    }
}